<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Site.Language.LanguageDirection | default "auto" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }} | {{ .Site.Title }}</title>

  {{- /* Pull in your compiled Tailwind/Flowbite CSS */ -}}
  {{- $flow := resources.Get "css/main.css" | postCSS | resources.Minify }}
  {{- if not .Site.Params.assets.disableFingerprinting }}
    {{- $flow = $flow | fingerprint }}
    <link rel="stylesheet"
          href="{{ $flow.RelPermalink }}"
          integrity="{{ $flow.Data.Integrity }}"
          crossorigin="anonymous">
  {{- else }}
    <link rel="stylesheet"
          href="{{ $flow.RelPermalink }}"
          crossorigin="anonymous">
  {{- end }}
</head>

<body class="flowbite-landing">
  {{ partial "flowbite-navbar.html" . }}

  <main>
    {{ .Content }}
  </main>

  <!-- Flowbite JS -->
  <script src="{{ "js/flowbite.min.js" | relURL }}"></script>
</body>
</html>
