<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Site.Language.LanguageDirection | default "auto" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }} | {{ .Site.Title }}</title>

  {{- /* Pull in your compiled Tailwind/Flowbite CSS */ -}}
  {{- $flow := resources.Get "css/main.css" | postCSS }}
  <link rel="stylesheet"
        href="{{ $flow.RelPermalink }}"
        {{ if $flow.Data.Integrity }}integrity="{{ $flow.Data.Integrity }}"{{ end }}
        crossorigin="anonymous">
</head>

<body class="flowbite-landing">
  {{ partial "flowbite-navbar.html" . }}


  <span class="bg-red-700 text-white px-2 py-1">red</span>
  <span class="bg-orange-700 text-white px-2 py-1">orange</span>
  <span class="bg-amber-700 text-white px-2 py-1">amber</span>
  <span class="bg-yellow-700 text-white px-2 py-1">yellow</span>
  <span class="bg-lime-700 text-white px-2 py-1">lime</span>
  <span class="bg-green-700 text-white px-2 py-1">green</span>
  <span class="bg-emerald-700 text-white px-2 py-1">emerald</span>
  <span class="bg-teal-700 text-white px-2 py-1">teal</span>
  <span class="bg-cyan-700 text-white px-2 py-1">cyan</span>
  <span class="bg-sky-700 text-white px-2 py-1">sky</span>
  <span class="bg-blue-700 text-white px-2 py-1">blue</span>
  <span class="bg-indigo-700 text-white px-2 py-1">indigo</span>
  <span class="bg-violet-700 text-white px-2 py-1">violet</span>
  <span class="bg-purple-700 text-white px-2 py-1">purple</span>
  <span class="bg-fuchsia-700 text-white px-2 py-1">fuchsia</span>
  <span class="bg-pink-700 text-white px-2 py-1">pink</span>
  <span class="bg-rose-700 text-white px-2 py-1">rose</span>

<div class="p-8 space-y-4">
  <div class="bg-[var(--color-violet-700)] text-white p-4">VIOLET</div>
  <div class="bg-[var(--color-teal-700)]  text-white p-4">TEAL</div>
  <div class="bg-[var(--color-rose-700)]  text-white p-4">ROSE</div>
  <div class="bg-[var(--color-fuchsia-700)] text-white p-4">FUCHSIA</div>
</div>

  <main>
    {{ .Content }}
  </main>

  <!-- Flowbite JS -->
  <script src="{{ "js/flowbite.min.js" | relURL }}"></script>



</body>
</html>
