# ─────────────────────────────────────────────────────────────────────────────
baseURL       = "https://spotlight.rankutah.com/"
title         = "Spotlight Utah"
languageCode  = "en-us"
theme         = ["overrides", "PaperMod"]
themesDir     = "../../themes"
# ─────────────────────────────────────────────────────────────────────────────

pruneTaxonomies = true

# add JSON output for tag terms
[outputFormats.JSON]
  mediaType    = "application/json"
  baseName     = "tags"
  isPlainText  = true

[outputs]
  home         = ["HTML", "RSS", "JSON"]
  section      = ["HTML", "JSON"]
  taxonomyTerm = ["HTML", "JSON"]  
  taxonomy     = ["HTML","JSON"]

[params]
  googleAnalyticsID = "G-LGYK5V1CTV"
  accentColor       = "#f3844b"
  showReadingTime   = true
  enableSearch      = true
  clientName        = "Rank Utah"
  clientURL         = "https://rankutah.com"
  mainSections      = ["spotlights"]
  defaultTheme      = "auto" # auto set light/dark mode based on OS preference
  disableThemeToggle = false # make it so you can toggle the light/dark mode

[permalinks]
  spotlights   = "/:slug/"

[taxonomies]
  tag          = "tags"

[menu]
  [[menu.main]]
    name   = "Spotlights"
    url    = "/"
    weight = 1

  [[menu.main]]
    name   = "Tags"
    url    = "/tags/"
    weight = 2

  [[menu.main]]
    name   = "About"
    url    = "/about/"
    weight = 3

  [[menu.main]]
    name   = "Search"
    url    = "/search/"
    weight = 4