# ─────────────────────────────────────────────────────────────────────────────
baseURL       = "https://blog.novagutter.com/"
title         = "NOVA Gutter"
languageCode  = "en-us"
theme         = ["PaperMod", "overrides"]
themesDir     = "../../themes"
# ─────────────────────────────────────────────────────────────────────────────

pruneTaxonomies = true

# Ensure FORMS format exists locally so outputs.home supports it during config load
[outputFormats.FORMS]
  mediaType = "application/json"
  baseName = "forms"
  isPlainText = true
  path = ".well-known"


#[markup]  # inherit from theme

[module]

  [[module.mounts]]
    source = "content"
    target = "content"

  [[module.mounts]]
    source = "posts"
    target = "content/posts"

  [[module.mounts]]
    source = "static"
    target = "static"

  [[module.mounts]]
    source = "media"
    target = "assets/media"

  [[module.mounts]]
    source = "media"
    target = "static/media"


[outputs]
  # Inherit defaults; override only if needed
  home         = ["HTML", "RSS", "JSON", "FORMS"]

[params]
  googleAnalyticsID = "G-3KJ46VMTTB"
  primaryColor      = "indigo"
  logo              = "media/logo.png"
  showReadingTime   = true
  enableSearch      = true
  clientName        = "NOVA Gutter"
  clientURL         = "https://novagutter.com"
  mainSections      = ["posts"]
  defaultTheme      = "auto" # auto set light/dark mode based on OS preference
  disableThemeToggle = false # make it so you can toggle the light/dark mode
  author              = "NOVA Gutter Corporation"

[permalinks]
  posts   = "/:slug/"

[taxonomies]
  tag          = "tags"

[menu]

  [[menu.main]]
    name   = "Home"
    url    = "https://novagutter.com"
    weight = 1

  [[menu.main]]
    name   = "Posts"
    url    = "/"
    weight = 2

  [[menu.main]]
    name   = "Tags"
    url    = "/tags/"
    weight = 3

  [[menu.main]]
    name   = "Search"
    url    = "/search/"
    weight = 4

#[build]  # inherit build settings from theme

[params.header]
  stickyMobile     = true
  stickyDesktop    = true
  titleSize        = "2xl"
  showCTAOnMobile  = false
  showCTAOnDesktop = true
  CTAText          = "Get a Quote"
  CTAURL           = "/contact/"
  showPhoneOnMobile = true
  phoneNumber       = "(561) 555-1212"
  logoHeight        = "h-10"
  logoWidth         = 0
  logoHeightPx      = 40
