{{- $title := .Get "title" | default "" -}}
{{- $id := .Get "id" | default "" -}}
{{- $er := lower (printf "%v" (.Get "expanded")) -}}
{{- $expanded := or (eq $er "true") (eq $er "1") (eq $er "yes") -}}

{{- $parent := or (.Get "for") (.Page.Scratch.Get "ui_acc_current") | default "accordion" -}}
{{- $key := printf "ui_acc_items_%s" $parent -}}
{{- $items := .Page.Scratch.Get $key | default (slice) -}}

{{- $item := dict "title" $title "content" .Inner "id" $id "expanded" $expanded -}}
{{- $items = $items | append $item -}}
{{- .Page.Scratch.Set $key $items -}}
