{{/* layouts/partials/tag-badges.html */}}
{{- with .Params.tags }}
  {{- $sortedTags := sort . }}
  {{- if gt (len $sortedTags) 0 }}
    <div style="display: flex; flex-wrap: wrap; gap: 0.3rem 0.3rem; margin-top: 1rem;">
      {{- range $tag := $sortedTags }}
        {{- $tagSlug := $tag | urlize }}
        <a
          href="{{ printf "/tags/%s/" $tagSlug | relURL }}"
          class="badge badge-{{ $tagSlug }}"
        >
          {{ $tag }}
        </a>
      {{- end }}
    </div>
  {{- end }}
{{- end }}
