{{- /* layouts/partials/components/h1.html */ -}}
{{- /* 1) Grab contexts */ -}}
{{- $page := .page -}}
{{- $comp := .comp -}}


{{- /* 2) Try front‑matter override */ -}}
{{- $classes := default "" $comp.classes -}}

{{- /* 3) If empty, try site‑wide config */ -}}
{{- if eq $classes "" -}}
  {{- $classes = default "" $page.Site.Params.h1.classes -}}
{{- end -}}

{{- /* 4) If still empty, use hard‑coded fallback */ -}}
{{- if eq $classes "" -}}
  {{- $classes = "text-4xl font-bold dark:text-white" -}}
{{- end -}}

<h1 class="{{ $classes }}">
  {{ default "Your H1 text here" $comp.text }}
</h1>