{{- /* layouts/partials/components/h4.html */ -}}
{{- /* 1) Grab contexts */ -}}
{{- $page := .page -}}
{{- $comp := .comp -}}

{{- /* 2) Try front‑matter override */ -}}
{{- $classes := default "" $comp.classes -}}

{{- /* 3) If empty, try site‑wide config */ -}}
{{- if eq $classes "" -}}
  {{- $classes = default "" $page.Site.Params.h4.classes -}}
{{- end -}}

{{- /* 4) If still empty, use hard‑coded fallback */ -}}
{{- if eq $classes "" -}}
  {{- $classes = "text-xl font-bold dark:text-white" -}}
{{- end -}}

<h4 class="{{ $classes }}">
  {{ default "Your H4 text here" $comp.text }}
</h4>