{{- /* Stack: vertical layout helper */ -}}
{{- $id := .id -}}
{{- $tag := .tag | default "div" -}}
{{- $gap := .gap | default "md" -}}
{{- $al  := or (.h) (.align) | default "left" -}}
{{- $v   := .v | default "top" -}}
{{- $max := .max | default "xl" -}}
{{- $px  := .px  | default "lg" -}}
{{- $py  := .py  | default "none" -}}

{{- $gapMap := dict "xs" "space-y-2" "sm" "space-y-4" "md" "space-y-6" "lg" "space-y-8" "xl" "space-y-12" -}}
{{- $alMap  := dict "left" "text-left" "center" "text-center" "right" "text-right" -}}
{{- $vMap   := dict "top" "vtop" "center" "vcenter" "bottom" "vbottom" -}}
{{- $maxMap := dict "sm" "max-w-screen-sm" "md" "max-w-3xl" "lg" "max-w-5xl" "xl" "max-w-7xl" "2xl" "max-w-screen-2xl" "full" "max-w-none" -}}
{{- $pxMap  := dict "none" "px-0" "sm" "px-4" "md" "px-6" "lg" "px-8" -}}
{{- $pyMap  := dict "none" "py-0" "sm" "py-6" "md" "py-12" "lg" "py-16" "xl" "py-24" -}}

{{- $base := printf "%s mx-auto %s %s %s %s %s"
    (index $maxMap $max | default "max-w-7xl")
    (index $pxMap  $px  | default "px-8")
    (index $pyMap  $py  | default "py-0")
    (index $alMap  $al  | default "text-left")
    (index $vMap   $v   | default "vtop")
    (index $gapMap $gap | default "space-y-6")
-}}

{{- $siteOverride := site.Params.stack.classes | default "" -}}
{{- $pageOverride := .classes | default "" -}}
{{- $classes := cond (ne $pageOverride "") $pageOverride (cond (ne $siteOverride "") $siteOverride $base) -}}

{{- $innerRS := .Page.RenderString .Inner -}}
{{- $inner   := cond (gt (len (trim $innerRS " \n\r\t")) 0) $innerRS (.Inner | markdownify) -}}

<{{ $tag }}{{ with $id }} id="{{ . }}"{{ end }} class="{{ $classes }}">
  {{- $inner | safeHTML -}}
</{{ $tag }}>
